* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.container {
  max-width: 840px;
  width: 100%;
  margin: 100px auto;
}

form {
  margin-top: 25px;
}

input,
button {
  display: block;
  padding: 10px;
  margin-bottom: 8px;
  width: 100%;
  resize: none;
}

button {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(5, 155, 219);
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: none;
  box-shadow: black 4px 9px 7px;
}

button:hover {
  background-color: rgb(1, 77, 208);
}
.success-message {
  padding: 16px;
  display: none;
  background-color: rgb(1, 77, 208);
  color: #fff;
  margin-top: 12px;
}
.error-messsage {
  padding: 16px;
  display: none;
  background-color: red;
  color: #fff;
}
